---
layout: default
title: Home
---


<div id="home">

  <p> What is this?
  </p>

  <h1>Life Skills</h1>
  <ul class="pages">
    {% for page in site.pages %}
      {% if page.categories == "lifeskills" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Investment</h1>
  <ul class="pages">
    {% for page in site.pages %}
      {% if page.categories == "investment" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Geography</h1>
  <ul class="pages">
    {% for page in site.pages %}
      {% if page.categories == "geography" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Podcasts</h1>
  <ul class="pages">
    {% for page in site.pages %}
      {% if page.categories == "podcasts" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Software</h1>
  <ul class="software">
    {% for page in site.pages %}
      {% if page.categories == "software" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <h1>Notes</h1>
  <ul class="notes">
    {% for page in site.pages %}
      {% if page.categories == "notes" %}
      {{ title }}
        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  </div>
